<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<variable name="LOG_PATH" value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}" />
	<variable name="rollover.path" value="${LOG_PATH}/rollover" />

	<appender name="payment-notifier-appender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<file>${LOG_PATH}/payment-notifier.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				${rollover.path}/payment-notifier.%d{yyyy-MM-dd}.%i.log.gz
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<appender name="notifications-appender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<fieldNames>
				<timestamp>timestamp</timestamp>
				<version>[ignore]</version>
				<levelValue>[ignore]</levelValue>
			</fieldNames>
		</encoder>
		<file>${LOG_PATH}/sent-notifications.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				${rollover.path}/sent-notifications.%d{yyyy-MM-dd}.%i.log.gz
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<logger name="notifications-logger" additivity="false" level="INFO">
		<appender-ref ref="notifications-appender" />
	</logger>

	<root level="INFO">
		<appender-ref ref="payment-notifier-appender" />
	</root>

</configuration>